.hero-background {
  background-image: url('./assets/bg-img\ copy.jpg');
  background-size: cover;
  background-repeat: none;
  width: 100%;
  height: 100vh;
}

.hero-container{
  padding-top: 200px;
}
